@model MVC.ViewModel.RegisterViewModel

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/knockout-2.2.0.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<link rel="stylesheet" type="text/css" href="/Content/reset.css" />
<link rel="stylesheet" type="text/css" href="/Content/knockout.css" />

@using(Html.BeginForm())
{    
    <dl id="register-form">
        <dt>@Html.LabelFor(x => x.Title)</dt>
        <dd>@Html.DropDownListFor(x => x.Title, new SelectList(Model.Titles))</dd>
        <dt>@Html.LabelFor(x => x.FirstName)</dt>
        <dd>@Html.TextBoxFor(x => x.FirstName, new { data_bind = "text:FirstName" })</dd>
        <dt></dt>
        <dd>
            <div data-bind="template:{name:'address-template'}"></div>
        </dd>  
        <dt></dt>  
        <dd class="add-address">
            <input id="post-code-lookup" type="text" value="se11 4ut"/>
            <input id="lookup-address-command" type="button" value="Find Address" />
        </dd>
        <dt></dt>
        <dd><input type="submit" value="Register" /></dd>
    </dl>
}
<div id="address-pick-dialog" data-bind="template:{name:'address-template'}"></div>

<script src="~/Scripts/App/register.js"></script>

<!-- http://knockoutjs.com/documentation/template-binding.html -->
<script id="address-template" type="text/html">
    <div data-bind="foreach:Addresses">
        <div class="address-row" >
            <a href="" data-bind="attr:{'data-value':ko.toJSON($data)}">
                <input type="hidden" data-bind="attr: { name : 'Addresses[' + $index() +'].NameOrNumber' },value:NameOrNumber" />
                <input type="hidden" data-bind="attr: { name : 'Addresses[' + $index() +'].Street' },value:Street" />
                <span data-bind="text:NameOrNumber"></span>
                <span data-bind="text:Street"></span>
            </a>
        </div>
    </div>
</script>

<script>
    var registration = new Registration(ko.mapping.fromJSON('@Html.Raw(Json.Encode(Model))'));
</script>