@model Data.Product

@{
    ViewBag.Title = "Create Product";
}

<span class="pagetitle">Create Product</span>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)


        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <p>
            <input class="button" type="submit" value="Create" />
        </p>
}

<div class="navlink">
    @Html.ActionLink("Back to List", "Index")
</div>
